
  <div *ngFor= "let movie of movies; let i = index" class="card mb-3 animated fadeIn" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img  src="{{movie.url}}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title}}</h5>
        <p class="card-text">{{ movie.director}}</p>
        <p class="card-text"><small class="text-muted">{{ movie.year}}</small></p>
        <button (click)="seeMovie(i)" type="button" class="btn btn-outline-primary btn-block">+Info</button>

<!--         <a [routerLink]="['movie',i]" routerLinkActive="router-link-active" ] class="btn btn-outline-primary">+Info</a>
 -->
 <button (click)="addtocart" type="button" class="btn btn-outline-primary btn-block" id="add" >
  Add to cart
</button>
        </div>
      </div>
    </div>
  </div>
  